:root {
  --dark-bg-color:#0D0D0D;
  --red-color: #d62e33;
}

a {
  text-decoration: none;
}

body{
  background-color: var(--dark-bg-color);
  color: #fff;
}
main{
  background-color: var(--dark-bg-color);
  color: #fff;
  min-height: 100vh;
}
.logo{
  width:50px;
}
.fa-x{
  font-size: 32px;
  color:black;
}

.pointer{
  cursor: pointer;
}

/* ---Header--- */

/* header{
} */



header{
  background-color: var(--dark-bg-color);
}
aside{
  display: none;
  width:240px;
  white-space: nowrap;
  position: relative;
}

aside ul{
  position: relative;

}
aside li {
  cursor: pointer;
  position: relative;
}
header nav{
  width: 66px;
}

header nav .bar{
  width:27px;
  height:4px;
  background-color: #fff;
  margin-block: 4px;
}


header nav .icons a:nth-child(1){
  margin-bottom: -3px;
}


/* Meals display */

#displayMeals .meal-container{
  cursor: pointer;
}

#displayMeals .meal-container  .layer , .categories .layer{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}


#displayMeals .meal-container:hover .layer , .categories .meal-container:hover .layer{
  opacity: 1;
  visibility: visible;
  top: 0;
}

ul li[class="alert"]{
  width:fit-content
}
/* end meals display */


/* spinner */

.spinner{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.spinner i{
  font-size: 80px;
}
/* End spinner */




#searchByName::placeholder , #searchByFirstletter::placeholder{
  color:#ced4da;
}


#categories .row .col{
  cursor: pointer;
}


#AreaContainer i , #Ingredients i{
 font-size: 4em;
}