@media (max-width: 575.98px) {
  #countDown {
    height: fit-content;
  }
  #contact {
    margin-top: 150px;
  }
  #slider .singers {
    width: 75% !important;
  }
}

@media (min-width: 576px) {
  #countDown {
    height: fit-content;
  }

  #contact {
    margin-top: 150px;
  }

  #slider .singers {
    width: 75% !important;
  }
}

@media (min-width: 768px) {
  #countDown {
    height: fit-content;
  }

  #contact {
    margin-top: 0px;
  }

  #slider .singers {
    width: 75% !important;
  }
}

@media (min-width: 992px) {
  #countDown {
    height: 45vh;
  }

  #slider .singers {
    width: 50% !important;
  }
}
